{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('TEEBUSINESS Admin') }}{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'admin/css/teebusiness_admin.css' %}">
<script defer src="{% static 'admin/js/teebusiness_admin.js' %}"></script>
{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}">
    <img src="{% static 'assets/images/logo.png' %}" alt="TEEBUSINESS" class="tb-logo">
    <span class="tb-brand">TEEBUSINESS</span>
    <span class="tb-badge">Admin</span>
  </a>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
